.clock-container {
  width: 200px;
  height: 200px;
  border: 5px solid #333;
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  margin-left: 43%;
}

.clock-hand {
  width: 3px;
  height: 70px;
  background-color: #333;
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform-origin: 50% 100%;
  transform: translate(-50%, -100%); /* Añadimos una traslación para centrar la aguja en el reloj */
  animation: rotateHand 60s linear infinite;
}

.clock-container:hover {
  transform: rotate(10deg);
}
