.containerFooter {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}

.footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 50px;
    width: 100%;
    background-color: #2c3e50;

}


.titleFooter {
    font-family: Franklin Gothic Medium, Arial Narrow, Arial, sans-serif;
    font-size: 38px;
    color: transparent;
    background-image: url(https://media.giphy.com/media/xT9IgzoKnwFNmISR8I/giphy.gif);
    background-position: center;
    -webkit-background-clip: text;
    display: flex;
    justify-content: center;
    align-items: center;
  }