.containerForm{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.form{
    margin: 5%;
    width: 40%;
    align-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.03);
    display: flex;
    flex-direction: column;
    height: 0%;
    justify-content: center;
    margin-bottom: 20px;
    overflow: hidden;
    height: 60vh;
}

.form:hover{
    cursor: pointer;
  transform: translateY(-10px) scale(1.03) ;
  transition: transform 200ms ease;
}

.btn {
    color: #fff !important;
    font-size: 20px;
    font-weight: 500;
    padding: 0.5em 1.2em;
    background: #318aac;
    border: 2px solid;
    border-color: #318aac;
    position: relative;
  }
  .btn:before {
    content:"";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    transition: all 1s ease;
  }
  .btn:hover:before {
    width: 100%;
  }

  .title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 450%;
    margin-top: -15px;
  }

  input{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  .img-fixed-size {
    width: 100%;
    height: 100px; 
    object-fit: cover;
  }


input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}


input:focus {
  border-color: #007bff;
  outline: none;
}


.error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.h1-animated {
  font-family: Franklin Gothic Medium,Arial Narrow,Arial,sans-serif;
  font-size: 50px;
  color: transparent;
  background-image: url(https://media.giphy.com/media/7AtHoQ9XWbpwLRxs0t/giphy.gif);
  background-position: center;
  -webkit-background-clip: text;
}